#kotak-ubah{
    width: 300px;
    height: 200px;
    background-color: red;
    transition: 1s;
}
#kotak-animasi{
    width: 300px;
    height: 200px;
    background-color: red;
    /* transition: 1s; */
    animation: animasiGerak 2s ease infinite alternate;
}

@keyframes animasiGerak{
    0%{
        width: 300px;
        height: 200px;
    }
    100%{
        width: 500px;
        height: 300px;
    }
}
